In [2]:
import numpy as np 
import pandas as pd 
import nltk
from nltk.corpus import stopwords
import string

In [3]:
df = pd.read_csv('C:/Users/Aakash Sharma/Desktop/Unstructured data/NLP/emails.txt') #read the CSV file

In [4]:
df.head(5)

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [5]:
df.shape

(5728, 2)

In [6]:
df.columns

Index(['text', 'spam'], dtype='object')

In [7]:
df.drop_duplicates(inplace = True)

In [8]:
df.shape

(5695, 2)

In [9]:
df.isnull().sum()

text    0
spam    0
dtype: int64

In [10]:
from string import punctuation
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem import SnowballStemmer

In [11]:
def clean_txt(sent):
    stemmer_s = SnowballStemmer("english")
    tokens = word_tokenize(sent.lower())
    stop_updated = stopwords.words("english") + list(punctuation) + ["..."] + \
    ["would", "could","told","subject"]
    text = [stemmer_s.stem(term) for term in tokens if term not in stop_updated and len(term) > 2] 
    #text = [term for term in tokens if term not in stop_updated and len(term) > 2] 
    res = " ".join(text)
    return res

In [12]:
df['text'] = df.text.apply(clean_txt)

In [13]:
df.head()

                                                text  spam
0  natur irresist corpor ident realli hard recoll...     1
1  stock trade gunsling fanni merril muzo colza a...     1
2  unbeliev new home made easi want show homeown ...     1
3  color print special request addit inform click...     1
4  money get softwar cds softwar compat great gro...     1

In [14]:
X = df.text.values
y = df.spam.values

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state=42)

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=3500)
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)
X_test_tfidf = tfidf_vectorizer.transform(X_test)

In [17]:
print(X_train_tfidf.shape,X_test_tfidf.shape)

(3986, 3500) (1709, 3500)

In [18]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(X_train_tfidf, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [19]:
y_pred = classifier.predict(X_test_tfidf)

In [20]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [21]:
accuracy_score(y_test,y_pred)

0.9777647747220597

In [22]:
confusion_matrix(y_test,y_pred)

array([[1264,    5],
       [  33,  407]], dtype=int64)

## `IMDB`

In [101]:
imdb = pd.read_csv('C:/Users/Aakash Sharma/Desktop/Unstructured data/NLP/imdb_sentiment.csv')
imdb.head()

                                              review  sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [102]:
imdb.isnull().sum()

review       0
sentiment    0
dtype: int64

In [103]:
def clean_txt(sent):
    stemmer_s = SnowballStemmer("english")
    tokens = word_tokenize(sent.lower())
    stop_updated = stopwords.words("english") + list(punctuation)
    text = [stemmer_s.stem(term) for term in tokens if term not in stop_updated and len(term) > 2] 
    #text = [term for term in tokens if term not in stop_updated and len(term) > 2] 
    res = " ".join(text)
    return res

In [104]:
imdb['review'] = imdb.review.apply(clean_txt)

In [105]:
imdb.head()

                                              review  sentiment
0     slow-mov aimless movi distress drift young man          0
1      sure lost flat charact audienc near half walk          0
2  attempt arti black white clever camera angl mo...          0
3                            littl music anyth speak          0
4  best scene movi gerardo tri find song keep run...          1

In [106]:
X = imdb.review.values
y = imdb.sentiment.values

In [107]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=0)

In [113]:
#from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
tfidf_vectorizer = CountVectorizer()
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)
X_test_tfidf = tfidf_vectorizer.transform(X_test)

In [114]:
print(X_train_tfidf.shape,X_test_tfidf.shape)

(561, 2024) (187, 2024)

In [115]:
from sklearn.naive_bayes import MultinomialNB
#from xgboost import XGBClassifier
classifier = MultinomialNB()
#classifier = XGBClassifier(n_estimators=1000)
classifier.fit(X_train_tfidf, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [116]:
y_pred = classifier.predict(X_test_tfidf)

In [117]:
accuracy_score(y_test,y_pred)

0.8342245989304813